<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowCreateServlet</display-name>
    <servlet-name>ShowCreateServlet</servlet-name>
    <servlet-class>controllers.ShowCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCreateServlet</servlet-name>
    <url-pattern>/ShowCreateServlet</url-pattern>
  </servlet-mapping>
  <display-name>ToDoListJSPServlet</display-name>
  <servlet>
    <description></description>
    <display-name>ShowEditServlet</display-name>
    <servlet-name>ShowEditServlet</servlet-name>
    <servlet-class>controllers.ShowEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditServlet</servlet-name>
    <url-pattern>/ShowEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowToDoListServlet</display-name>
    <servlet-name>ShowToDoListServlet</servlet-name>
    <servlet-class>controllers.ShowToDoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowToDoListServlet</servlet-name>
    <url-pattern>/ShowToDoListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateJobServlet</display-name>
    <servlet-name>CreateJobServlet</servlet-name>
    <servlet-class>controllers.CreateJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateJobServlet</servlet-name>
    <url-pattern>/CreateJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobServlet</display-name>
    <servlet-name>DeleteJobServlet</servlet-name>
    <servlet-class>controllers.DeleteJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobServlet</servlet-name>
    <url-pattern>/DeleteJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJobServlet</display-name>
    <servlet-name>EditJobServlet</servlet-name>
    <servlet-class>controllers.EditJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJobServlet</servlet-name>
    <url-pattern>/EditJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoneJobServlet</display-name>
    <servlet-name>DoneJobServlet</servlet-name>
    <servlet-class>controllers.DoneJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoneJobServlet</servlet-name>
    <url-pattern>/DoneJobServlet</url-pattern>
  </servlet-mapping>
</web-app>